server {
  listen 80;

  server_name "{{ nginx_template_server_name }}";

  root "{{ nginx_template_static_root }}";
  index index.html index.htm;

  location / {
        try_files $uri $uri/ =404;
  }
}